<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12">
    <div class="well">
      <% if @artist.avatar.exists? != nil %>
      <%= image_tag @artist.avatar.url(:thumb) %>
      <% end %>
      
      <h1><%= @artist.name %></h1>
      <p><% "#{@artist.rating}".to_i.times do %>
              <span class="glyphicon glyphicon-star"></span>
              <% end %></p>

	<% @artist.songs.each do |song| %>
	  <h3><%= link_to song.name, song %></a></h3>
	<% end %>
    </div>
  </div>
</div>
<%= link_to 'New Artist', new_artist_path %> |
<%= link_to 'Edit Artist', edit_artist_path(@artist) %> |
<%= link_to 'Jams Home', artists_path %>
